.input{
  display: flex;
  flex-direction: column;
  color: var(--main);
  margin-bottom: 8px;
  width: 100%;
}

.checkbox{
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
}

.input__label, .checkbox__label{
  color: var(--main);
  font-weight: bold;
  margin-right: 32px;
}

.input__text{
  margin-right: 8px;
}

.input__text, .input__date{
  padding: 8px 16px;
  background-color: var(--bg__color);
  border: 2px solid var(--grey);
  border-radius: 4px;
}

.checkbox__text{
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background-color: var(--main);
}

.input__date{
  width: 250px;
}

input[type="file"] {
  position: absolute;
  opacity: 0;
}

.input__imglabel{
  color: var(--main);
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 4px;
  border: 2px solid var(--grey);
}
